body {
  font-family: Cambria;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
.telephone {
  color: #fff;
}

/* DEBUT ENTETE */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  padding-block: 10px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3);
}

.header-logo {
  display: flex;
  align-items: center;
  font-family: lato;
  font-weight: bolder;
  font-size: 2rem;
  color: #333;
}

.header-logo img {
  width: 60px;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu li a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  display: block;
  box-sizing: border-box;
  transition: 2s ease;
}

.header-menu li:last-child a {
  background-color: #e54f24;
  color: #fff;
}

.header-menu li a:hover {
  background-color: #f2f2f2;
}

.header-menu-mobile {
  display: none;
}

.profile-dot {
  width: 15px;
  height: 15px;
  background-color: #ffb400;
  border-radius: 50%;
  margin-right: 10px;
}
/* FIN ENTETE */

/* ======== DEBUT CORPS ========== */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3);
}

.container p {
  font-family: Roboto; /* Définir la police */
  line-height: 1.6; /* Ajuster l'espacement des lignes */
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 80%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 2px 2px #010b0e;
}

.intro {
  width: 50%;
  margin: 50px;
}

.Salut {
  font-size: 5em;
  font-weight: bold;
  font-family: Cambria;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Cambria;
}

.intro p {
  font-size: 1em;
  color: #333;
  font-family: Cambria;
  text-align: center;
}
.buttons {
  margin-top: 20px;
}

.button {
  display: inline-block;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border-radius: 50%;
  margin: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid black;
}

.cv {
  background-color: #ffb400;
}

.projects {
  background-color: #ff6347;
}

.contact {
  background-color: #00ced1;
}

.cv:hover {
  background-color: #f9f9f9;
}
.projects:hover {
  background-color: #f9f9f9;
}
.contact:hover {
  background-color: #f9f9f9;
}

/*  ======== DEBUT DE LA SECTION QUELQUES PROJET ============ */

.boxed {
  /* 1280 est la resolution normal pour les machine */
  max-width: 1280px;
  margin-inline: auto;
}
.boxed h2 {
  text-align: center;
  font-family: Cambria;
}
.flex {
  display: flex;
}
.flex2 {
  display: flex;
}

.w25 {
  width: 25%;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px #c8c8c8;
}
.w25 p {
  text-align: center;
}
.wm100 {
  width: 100% !important;
}
.skill {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}
.skill img {
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.skill h3 {
  color: #000;
  margin-top: 10px;
  text-align: center;
}

.wrap {
  /* PERMET DE DIRE SI YA PLUSIEUR TU MET CE QUI PEUT ETRE SUR UNE LIGNE ET LA SUITE A LA LIGNE SUIVANTE */
  flex-wrap: wrap;
}
.gap20 {
  gap: 20px;
}
.space-between {
  justify-content: space-between;
}
.w32 {
  width: 32%;
}
.wm100 {
  width: 100% !important;
}
.wm47 {
  width: 47%;
}

/* FIN CORPS */

/* DEBUT footer */
hr {
  border: none;
  border-top: 2px solid #333; /* Couleur et épaisseur de la ligne */
  margin: 20px 0; /* Espacement au-dessus et en dessous de la ligne */
}
h3 {
  color: #13c3ba;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 20px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #2f4f4f;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section:last-child {
  margin-right: 0;
}

.footer-section p a {
  color: #f0f8ff;
  text-decoration: none;
}

.footer-section p a:hover {
  text-decoration: underline;
}

.mail:hover {
  color: lightblue;
  font-weight: bold;
}

.pied-content {
  text-align: center;
  font-family: Rockwell;
}

/* FIN footer */

/* Media Queries */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    text-align: left;
  }

  .profile {
    margin-bottom: 0;
  }

  .profile-image {
    width: 300px;
    height: 300px;
  }

  .intro {
    margin-left: 40px;
  }

  h1 {
    font-size: 4em;
  }

  .button {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 10px;
  }
}

/* =================MAX 500 ========================== */
@media (max-width: 500px) {
  .intro {
    width: 100%;
    border: 1px solid black;
  }
  /* .presentation {
      width: ;
      border: 1px solid black;
    } */
  .presentation p {
    font-size: 1.3em;
    color: red;
  }
  .profile .profile-image {
    display: none;
  }
  .flex2 {
    display: block;
  }
  .button {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 10px;
  }
}

/* ======== MAX 768 ========== */
@media (max-width: 768) {
  .flex2 {
    display: block;
  }
}
